$primary-color:#0d141b;
$secondary-color:#0055FF;
$primary-color-light:#ff3d6e;
$primary-color-light1:#ff668c;
$dark-color:#252A34;
$dark-color-darker:rgb(28, 32, 39);
$white-color:#ffffff;
$white-color-dull:#e9e9e9;
$white-color-dull1:#c3c3c3;
$white-color-dull5:#333333;

$balck-color-normal:#252A34;